
<dom-module>
    <script>
    /**
     * @polymerBehavior NotesBehavior
     */
    var NotesBehavior = {
      actions: {
        notesFetch: function() {
          return function(dispatch) {
            dispatch({ type: 'NOTES_FETCHING' });
            $.get("/api/notes",
            function(success){
              console.log(success);
                dispatch({ type: 'NOTES_FETCHED', payload: success });
            }),
            function(error){
                dispatch({ type: 'NOTES_FETCHED', payload: [] });
            }
          };
        },
        notesSave: function(item) {
          return function(dispatch) {
            dispatch({type: 'NOTES_SAVING_ONE'});
            $.post("/api/notes",
                   item,
                   function(success){
                    dispatch({type: 'NOTES_SAVED_ONE'})
                  })
          }
        },
        notesView: function(view){
          return {type: 'NOTES_NAVIGATE', payload: view};
        }
      },
      notesFetch: function(){
        this.dispatch('notesFetch');
      },
      notesForm: function(){
        this.dispatch('notesView', 'form')
      },
      notesList: function(){
        this.dispatch('notesView', 'list')
      },
      notesSave: function(item){
        this.dispatch('notesView', item);
      }
    };
  </script>
</dom-module>